table,td,th {
	border: 3px solid white;
	border-collapse: collapse;
	padding: 5px;
}
body{
	background-color: #5DADE2 ;
	font-size: 30px;
	color: white;
}
ol{
	color: white;
}
ul>li{
	color: #e3f542;
}
button{
	height: 35px;
	width: 80px;
	background-color: #e3f542;
}
button:hover{
	background-color: white;
}

